.background_image {
    text-align: center;
    background-image: url("./Images/background_image.jpg"); 
    background-size: cover;
  }

  /* ---for banner--- */

  .banner {
    margin-top: 0;
    padding: 160px 0 100px 0;
    /* background-image: url('./assets/img/banner-bg.png'); */
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(76, 98, 236, 0.5) -5.91%, rgba(231, 94, 163, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 16px;
    margin-bottom: 16px;
    display: flow-root;
  } */
  .banner h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #1e2020;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    text-align: left;
  }
  /* .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  } */
  /* .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
  } */
  .banner img {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }


  .banner button {
    border-radius: 40px;
    padding: 10px 40px;
    background-color:#FFCF4C;
    color: #000;
    /* display: flex; */
  }

  .banner button:hover {
    background-color: #df512e; /* Green */
    color: rgb(0, 0, 0);
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    size: 25px;
  }

  .social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon {
  display: inline-flex;
  margin-left: 1px;
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
width: 60%;
z-index: 1;
transition: 0.3s ease-in-out;
}

.row {margin: 0 -5px;}



/* form */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  text-align: left;
}

.feedback-input:focus { border:2px solid #FFCF4C; }

textarea {
  height: 120px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 50%;
  background:#FFCF4C;
  border-radius:25px;
  border:0;
  cursor:pointer;
  color:rgb(0, 0, 0);
  font-size:16px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#FFCF4C;}